In [22]:
import Player
import Game
import pandas as pd
import numpy as np
import time

In [36]:
data = {
   "turn number" : [],
    "Max number" : [],
    "Max adjacent": [],
    "Time spent" : [],
    "parameter_second" : [],
    "parameter_turn_weight" : [],
    "table size" : []
}

In [37]:
def get_data(second=0.5, weight=0.01, table_size=5):
    player1 = Player.MonteCarloSecond(second=second)
    game = Game.Game(player1, table_size=table_size)
    start_time = time.time()
    result = game.play()
    time_spent = time.time() - start_time
    data["turn number"].append(result[1])
    data["Max number"].append(result[2])
    data["Max adjacent"].append(result[3])
    data["Time spent"].append(time_spent)
    data["parameter_second"].append(player1.parameter)
    data["parameter_turn_weight"].append(player1.turn_weight)
    data["table size"].append(game.table_size)

In [38]:
second_list = np.linspace(0.1, 1.0, 4)

In [39]:
for second in second_list:
    for i in range(3):
        get_data(second=second)

play over!
Turn349
41381
59724
61847
85758
471184
Max number was11
play over!
Turn309
51512
23739
61856
39792
711158
Max number was11
play over!
Turn374
31265
85386
59145
451179
10113811
Max number was11
play over!
Turn318
75345
32151
59783
848105
381157
Max number was11
play over!
Turn442
513105
386210
46367
710276
11151211
Max number was12
play over!
Turn344
58346
74574
21756
110493
6117510
Max number was11
play over!
Turn318
63513
37168
54319
29134
311879
Max number was11
play over!
Turn408
65497
36312
292108
858110
9412104
Max number was12
play over!
Turn300
81572
13269
57153
61797
811959
Max number was11
play over!
Turn399
31941
9710510
78421
110968
7123810
Max number was12
play over!
Turn359
47341
189109
42512
787106
21111210
Max number was12
play over!
Turn289
56543
32915
48134
21272
6101115
Max number was11

In [40]:
df_data = pd.DataFrame(data)
df_data

,Max adjacent,Max number,Time spent,parameter_second,parameter_turn_weight,table size,turn number
0,8,11,36.022535,0.1,0.01,5,349
1,9,11,31.943371,0.1,0.01,5,309
2,10,11,38.298805,0.1,0.01,5,374
3,8,11,128.621748,0.4,0.01,5,318
4,11,12,178.306164,0.4,0.01,5,442
5,10,11,138.776917,0.4,0.01,5,344
6,9,11,223.978275,0.7,0.01,5,318
7,10,12,286.802790,0.7,0.01,5,408
8,9,11,211.394775,0.7,0.01,5,300
9,10,12,400.704930,1.0,0.01,5,399
10,10,12,360.321141,1.0,0.01,5,359
11,10,11,291.324668,1.0,0.01,5,289

In [41]:
full_data = pd.read_csv("data.csv")
full_data.append(df_data, ignore_index=True)

,Max adjacent,Max number,Time spent,Unnamed: 0,parameter_second,parameter_turn_weight,table size,turn number
0,9,10,146.880384,0.0,1.0,0.01,4,146
1,8,11,36.022535,NaN,0.1,0.01,5,349
2,9,11,31.943371,NaN,0.1,0.01,5,309
3,10,11,38.298805,NaN,0.1,0.01,5,374
4,8,11,128.621748,NaN,0.4,0.01,5,318
5,11,12,178.306164,NaN,0.4,0.01,5,442
6,10,11,138.776917,NaN,0.4,0.01,5,344
7,9,11,223.978275,NaN,0.7,0.01,5,318
8,10,12,286.802790,NaN,0.7,0.01,5,408
9,9,11,211.394775,NaN,0.7,0.01,5,300
10,10,12,400.704930,NaN,1.0,0.01,5,399
11,10,12,360.321141,NaN,1.0,0.01,5,359
12,10,11,291.324668,NaN,1.0,0.01,5,289

In [43]:
full_data.to_csv("data.csv", index=False)